<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VisiStick.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3FC3E38F224BF6010008DE34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FC3E3A3224BF6030008DE34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FC3E3AE224BF6030008DE34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
